<header class="main-header">
    <a href="/">
     <h1>Mi portafolio</h1>
    </a>
    <nav style="display:flex;gap: .5rem">
        <a href="/quienes-somos">Quienes somos</a>
        <a href="/about">Acerca de</a>
    </nav>
</header>

<style>
    .main-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
</style>